@page "{departmentId:min(0)}"
@model RazorPageApp.Pages.Department.UpdateDepartmentModel
@{
    ViewData["Title"] = "UpdateDepartment";
}

<div class="card">
    <div class="card-header">
        <h2 class="mb-0">
            Update Department
        </h2>
    </div>
    @{
        if (Model.ErrorMessage == null)
        {
            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UpdateDepartmentViewModel.DepartmentId" />
                    <div class="form-group">
                        <label asp-for="UpdateDepartmentViewModel.DepartmentName" class="control-label"></label>
                        <input asp-for="UpdateDepartmentViewModel.DepartmentName" class="form-control" />
                        <span asp-validation-for="UpdateDepartmentViewModel.DepartmentName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpdateDepartmentViewModel.Description" class="control-label"></label>
                        <input asp-for="UpdateDepartmentViewModel.Description" class="form-control" />
                        <span asp-validation-for="UpdateDepartmentViewModel.Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Update</button>
                    <a class="btn btn-primary" asp-page="./DepartmentList">Back to List</a>
                </div>
            </form>
        }
        else
        {
            <div class="card-body text-center">
                <div class="alert alert-danger">@Model.ErrorMessage</div>
                <a class="btn btn-primary" asp-page="./DepartmentList">Back to List</a>
            </div>

        }
    }

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

