@page "/department/create-department"

<div class="card">
    <div class="card-header">
        <h3>
            <strong>
                <i class="fas fa-user-plus"></i> Create Department
            </strong>
        </h3>
    </div>
    <div class="card-body">
        <EditForm Model="@CreateDepartmentModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary Model="@CreateDepartmentModel" />
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Department Name</label>
                <div class="col-sm-10">
                    <InputText class="form-control" @bind-Value="CreateDepartmentModel.DepartmentName" />
                    <ValidationMessage For="@(() => CreateDepartmentModel.DepartmentName)" />
                </div>
            </div>
           
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <InputText class="form-control" @bind-Value="CreateDepartmentModel.Description" />
                    <ValidationMessage For="@(() => CreateDepartmentModel.Description)" />
                </div>
            </div>
            
            <div class="row">
                <div class="col offset-sm-2">
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
                    <a href="department/department-list" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back to List</a>
                </div>

            </div>

        </EditForm>
    </div>
</div>
