<div class="card text-white bg-danger">
    <div class="card-body text-center">
        <h1 class="card-title">
            <i class="far fa-hand-paper"></i> 401: Unauthorized
        </h1>
        <p class="card-text">
            You are not authorized to see the requested page. Please login by clicking the following button to move forward.
        </p>
        <a href="identity/login" class="btn btn-primary border-white align-items-center">
            Go Login <i class="fas fa-sign-in-alt"></i>
        </a>
    </div>
</div>
