@page
@model RazorPageClient.Pages.Employee.CreateEmployeeModel
@{
    ViewData["Title"] = "CreateEmployee";
}

<div class="card">
    <div class="card-header">
        <h2 class="mb-0">
            Create Employee
        </h2>
    </div>
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateEmployeeViewModel.EmployeeName" class="control-label"></label>
                <input asp-for="CreateEmployeeViewModel.EmployeeName" class="form-control" />
                <span asp-validation-for="CreateEmployeeViewModel.EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateEmployeeViewModel.DepartmentId" class="control-label"></label>
                <select asp-for="CreateEmployeeViewModel.DepartmentId" asp-items="Model.DepartmentSelectList" class="form-control">
                    <option value="">Select Department</option>
                </select>
                <span asp-validation-for="CreateEmployeeViewModel.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateEmployeeViewModel.DateOfBirth" class="control-label"></label>
                <input asp-for="CreateEmployeeViewModel.DateOfBirth" class="form-control" />
                <span asp-validation-for="CreateEmployeeViewModel.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateEmployeeViewModel.Email" class="control-label"></label>
                <input asp-for="CreateEmployeeViewModel.Email" class="form-control" />
                <span asp-validation-for="CreateEmployeeViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateEmployeeViewModel.PhoneNumber" class="control-label"></label>
                <input asp-for="CreateEmployeeViewModel.PhoneNumber" class="form-control" />
                <span asp-validation-for="CreateEmployeeViewModel.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Create</button>
            <a class="btn btn-primary" asp-page="./EmployeeList">Back to List</a>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}