<!-- Modal -->
<div class="modal fade  @ModalClass" id="staticBackdrop"
     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white justify-content-center">
                <h3 class="modal-title my-2" id="staticBackdropLabel">
                    Create Department
                </h3>
            </div>
            <EditForm EditContext="FormEditContext" OnValidSubmit="HandleValidSubmit">
                <div class="modal-body">

                    <DataAnnotationsValidator />
                    <CustomValidationMessages @ref="CustomValidationMessages" />
                    <ValidationSummary Model="@CreateDepartmentModel" />

                    <div class="form-floating mb-3">
                        <InputText class="form-control" @bind-Value="CreateDepartmentModel.Name" placeholder="Enter department name" />
                        <label><i class="fas fa-building"></i> Name</label>
                        <ValidationMessage For="@(() => CreateDepartmentModel.Name)" />
                    </div>

                    <div class="form-floating">
                        <InputTextArea class="form-control" style="height: 100px" @bind-Value="CreateDepartmentModel.Description" placeholder="Description" />
                        <label><i class="fas fa-edit"></i> Description</label>
                        <ValidationMessage For="@(() => CreateDepartmentModel.Description)" />
                    </div>
                </div>
                <div class="modal-footer border-success">
                    <button @onclick="Close" type="button" class="col btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times"></i> Close
                    </button>
                    <button type="submit" class="col btn btn-success">
                        <i class="fas fa-plus"></i> Submit
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}
