@page "/identity/forgot-password"
@layout EmptyLayoutComponent

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    <i class="fas fa-key"></i> Password Recovery
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="small mb-3 text-muted">
                                    Enter your email address and we will send you a code to reset your password.
                                </div>
                                <EditForm EditContext="FormContext" OnValidSubmit="HandleValidSubmitAsync">
                                    <DataAnnotationsValidator />
                                    <CustomValidationMessages @ref="ValidationMessages" />
                                    <ValidationSummary Model="@ForgotPasswordModel" />
                                    <div class="form-floating mb-3">
                                        <InputText @bind-Value="ForgotPasswordModel.Email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                        <label for="inputEmail"><i class="fas fa-envelope"></i> Email address</label>
                                        <ValidationMessage For="@(() => ForgotPasswordModel.Email)" />
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex">
                                        <a class="col btn btn-primary btn-form-floating" href="identity/login">
                                            <i class="fas fa-arrow-left"></i> Return to login
                                        </a>
                                        <button disabled="@IsSubmitBtnDisabled" class="col btn btn-success btn-form-floating" type="submit">
                                            @(IsSubmitBtnDisabled ? "Submitting...." : "Submit") <i class="fas fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </EditForm>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="d-grid">
                                    <a class="btn btn-secondary btn-form-floating" href="identity/registration">
                                        Need an account? Sign up! <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>